* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #f6f6f6;
  background-color: #000;
  font-family: Sora, system-ui;
}

main {
  margin: 5rem;
  display: flex;
  align-items: center;
}



.title-strong {
  color: #22d4fd;
}

a {
  text-decoration: none;
  background-color: #22d4fd;
  padding: 0.5rem;
  padding: 0.5rem;
  color: #000;
  font-weight: bold;
  margin: 0.5rem;
}

