:root {
  --background: #000;
  --text: #f2f2f2;
  --text-color: #22d4fd;
  --hover: #272727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: Sora, system-ui;
}

header {
  padding: 2% 0% 0% 15%;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navLinks {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
}

.navLinks:hover {
  border-bottom: 1px solid var(--text-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9% 15%;
  gap: 82px;
}

.conteudo {
  width: 60%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
}

p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.title-strong {
  color: var(--text-color);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

.linkSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 2px solid var(--text-color);
  width: 60%;
  max-width: 22rem;
  max-height: 4rem;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--text);
}

.linkSocial:hover {
  background: var(--hover);
  color: var(--text-color);
  border: 4px double var(--text-color);
}

.imagem {
  padding: 3px;
  margin-left: 2rem;

}

.profile-img {
  border-radius: 10px;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--text-color);
  color: var(--background);
}

@media (max-width: 1200px) {
  header {
    padding: 10%;
  }
  nav {
    justify-content: center;
  }
  main {
    flex-direction: column-reverse;
  }
}
